
.box{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 70px;

}

.datosPersonales{
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 20px;
}

.intro{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: bold;
}


.Dir{
   text-decoration: underline;
}

.Direccion{
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 20px;

}

.botones{
    margin-top: 30px;
}