.infoPeticion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 50px;
    height: 100%;
    outline: 1px dashed red;
    min-width: 1300px;
}

.petid{
    margin-left: 70px;
}

.userid{
    margin-left: 50px;
}

.box{
    display: grid;
    align-items: center;
    justify-content: center;
}


.peticiones_layout{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 50px;
    
}

