


.tipoDato{
    display: flex;
    gap: 15px;
}


.datosPersonales{
    display: flex;
    gap: 200px;
}


.primeraMitad{
    display: grid;
    gap: 20px;
}

.segundaMitad{
    display: grid;
    gap: 20px;
}