@font-face {
    font-family: Inter-Regular;
    src: url(./fonts/Inter-Regular.ttf);
}

body{
    background-color: #fbfbfb;
    font-family: Inter-Regular;
}

button{
    cursor: pointer;

}

/* CSS DE APP */


.titulo{
    text-align: center;
    line-height: 90px;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: auto;
    background: linear-gradient( to right, #409EFF 0%, #BEDDFB 100%);
      

}

.titulo h1{
    color: #fff  ;
    font-family: Inter-Regular;
}


/* CSS DE RECTIFICACION*/

.boxRect{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 70px;
}

.tipoDato{
    display: flex;
    gap: 15px;
}

.introRect{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: bold;
}


.datosPersonalesRect{
    display: flex;
    gap: 200px;
}


.primeraMitad{
    display: grid;
    gap: 20px;
}

.segundaMitad{
    display: grid;
    gap: 20px;
}


.botonesRect{
    margin-top: 30px;
}



/*CSS DE PETICIONES*/

.infoPeticion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    margin-top: 50px;
    height: 100%;
    outline: 1px dashed red;
    min-width: 1300px;
}

.petid{
    margin-left: 70px;
}

.userid{
    margin-left: 50px;
}

.boxPet{
    display: grid;
    align-items: center;
    justify-content: center;
}


.peticiones_layout{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 50px;
    
}




/* CSS DE OPOSICION */
.boxOp{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 70px;
}

.datosPersonalesOp{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.infoOp{
    display: grid;
    text-align: center;
    gap: 20px;
}

.introOp{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: bold;
}


.DirOp{
   text-decoration: underline;
}

.DireccionOp{
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 20px;

}

.botonesOp{
    margin-top: 30px;
}


/* CSS DE CANCELACION */
.boxCa{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 70px;
}

.datosPersonalesCa{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.infoCa{
    display: grid;
    text-align: center;
    gap: 20px;
}

.introCa{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: bold;
}


.DirCa{
   text-decoration: underline;
}

.DireccionCa{
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 20px;

}

.botonesCa{
    margin-top: 30px;
}


/*MODAL DE CANCELACION*/

.modal, .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
}

.overlay{
    background: rgba(49, 49, 49, 0,8);
}


.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}
.body.active-modal{
    overflow-y: hidden;
    
}
.cancelar{
    position:absolute;
    top: 55%;
    left: 40%;
    padding: 20px 30px;
}

.confirmar{
    position:absolute;
    top: 55%;
    left: 50%;
    padding: 20px 30px;
    
}


/* CSS DE ACCESO */
.boxA{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 70px;
}

.datosPersonalesA{
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.infoA{
    display: grid;
    text-align: center;
    gap: 20px;
}

.introA{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
    text-decoration: underline;
    font-weight: bold;
}


.DirA{
   text-decoration: underline;
}

.DireccionA{
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 20px;

}

.botonesA{
    margin-top: 30px;
}