


.table_layout{
    display: flex;
    justify-content: center;
    gap: 130px;
    margin-top: 50px;
    
}

.table{
    display: grid;
    grid-template-columns: 1200px;
    align-items: center;
    justify-content: center;
}
